<!-- Header -->

<header class="bg-cbd py-5 mb-5">

  <p class="m-0 text-center text-white">
   
    <div class="align-items-center">
<center>
         <img src="/2021/assets/images/calgary4.jpg" alt="Banff CCO Public Domain Photo https://www.publicdomainpictures.net/en/view-image.php?image=166668&picture=canadian-rockies-moraine-lake"/>
         
        
      
   <font style="color:white">  <h1>
The 7th IEEE International Conference on Cloud and Big Data Computing (CBDCom 2021)

    

      </center>
  </div>
    
      </div>
  
</header>

