<footer class="py-5">
  <div style="background:#1B365D">
  <div class="container">
    <p class="m-0 text-center text-white">
      
                <br/>
           

&copy; IEEE Cyber Science and Technology 2021. All rights reserved.
<br/>
     <a href="https://www.athabascau.ca/" target="_new" class="text-white">  Created and Maintained by the IEEE Cyber Science and Technology 2021 Web Team at Athabasca University, Alberta, Canada
<hr/>

                          
                        

                      <center>        <a href="https://www.athabascau.ca/" target="_new" class="text-muted">  &copy; 2021 Athabasca University is a world-class leader in
                        online and distance education, based in Alberta and
                                available online around the world. </a>  
                                     <br/>        <a href="https://www.ieee.org/security-privacy.html" target="_new"  class="text-muted">IEEE Privacy Policy</a></center>
    
  </div>
  <!-- /.container -->
  </div>
    </footer>
