<footer class="py-5">
  <div style="background:#1B365D">
  <div class="container">
    <p class="m-0 text-center text-white">
      
                <br/>
           

&copy; IEEE Cyber Science and Technology 2022. All rights reserved.
<br/>
     <a href="https://www.unical.it/" target="_new" class="text-white">  Created and Maintained by the IEEE Cyber Science and Technology 2022 Web Team at University of Calabria, Italy
<hr/>

                          
                        

                      <center>        <a href="https://www.unical.it/" target="_new" class="text-muted">  &copy; 2022 University of Calabria is one of the biggest campuses in Italy, based in Rende (CS). </a>  
                                     <br/>        <a href="https://www.ieee.org/security-privacy.html" target="_new"  class="text-muted">IEEE Privacy Policy</a></center>
    
  </div>
  <!-- /.container -->
  </div>
    </footer>
