<!-- Header -->

<header class="bg-secondary py-5 mb-5">
  
  <p class="m-0 text-center text-white">
   
    <div class="align-items-center">
<center>
         <img src="/2022/assets/images/cosenza.jpg" class="img-fluid" title="photo credit 'Lupo silano 1914'"/>
         
        
      
   <font style="color:white">  <h2>
The 20th IEEE International Conference on Dependable, Autonomic & Secure Computing <br/>(DASC 2022)
        </h2>
        </font>
      </center>
  </div>
    
    
    </div>
    </header>

