
<!-- Header -->

<header class="bg-pi py-5 mb-5">

  <p class="m-0 text-center text-white">
   
    <div class="align-items-center">
<center>
         <img src="/2021/assets/images/bow2.jpg" class="img-fluid" alt="Creative Commons 2019 https://all-free-download.com/free-photos/calgary.html"/>
         
        
      
   <font style="color:white">  <h2>
The 19th IEEE International Conference on Pervasive Intelligence and Computing (PICom 2021) 
     </h2></font>    

      </center>
  </div>
    
      </div>
  
</header>
