<!-- Header -->

<header class="bg-primary py-5 mb-5">

  <p class="m-0 text-center text-white">
   
    <div class="align-items-center">
<center>
         <img src="assets/images/banff.jpg" class="img-fluid" alt="Banff CCO Public Domain Photo https://www.publicdomainpictures.net/en/view-image.php?image=166668&picture=canadian-rockies-moraine-lake"/>
         
        
      
   <font style="color:white">  <h1>
 IEEE CyberSciTech/ PICom/ DASC/ CBDCom 2021
        </h1>
        </font>
      </center>
  </div>
    
      </div>
    </div>
    </div>
</header>
