<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="{{ site.baseurl }}/"
      >IEEE CyberSciTech/PICom/DASC/CBDCom 2022 



</a>
    <button
      class="navbar-toggler ml-auto"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"></span>
    </button>
   <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ site.baseurl }}/cbdcom/">Home <span class="sr-only"></span></a>
      </li>
    <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Co-located Conferences
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ site.baseurl }}/cyberscitech/">CyberSciTech</a>
          <a class="dropdown-item" href="{{ site.baseurl }}/picom/">PICom</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/dasc/">DASC</a>
          </li>
     
      
      <li class="nav-item active">
        <a class="nav-link" href="{{ site.baseurl }}/cbdcom/organization/">Organization</a>
      </li>
         <!-- class="nav-item active">
        <a class="nav-link" href="{{ site.baseurl }}/cbdcom/callpaper/">Calls</a>
      </li-->
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Calls
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ site.baseurl }}/cbdcom/callpaper/">Call for Papers</a>
   
          <a class="dropdown-item" href="{{ site.baseurl }}/cbdcom/calltutorials/">Call for Tutorials</a>
     
          <a class="dropdown-item" href="{{ site.baseurl }}/cbdcom/callworkshop/">Call for Workshops and Special Sessions</a>
          
      </li>
   <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Workshops
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ site.baseurl }}/cbdcom/acceptworkshops/">CBDCom Workshops</a> 
            <a class="dropdown-item" href="{{ site.baseurl }}/cyberscitech/acceptworkshops/">CyberSciTech Workshops</a>       
            <a class="dropdown-item" href="{{ site.baseurl }}/picom/acceptworkshops/">PICom Workshops</a>       
            <a class="dropdown-item" href="{{ site.baseurl }}/dasc/acceptworkshops/">DASC Workshops</a>       
      </li>
      
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Authors
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ site.baseurl }}/cbdcom/papersubmissions/">Paper Submissions</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/crs/">Camera Ready Submissions</a>
            <!--a class="dropdown-item" href="{{ site.baseurl }}/tutorials/">Call for Tutorials</a>
          <a class="dropdown-item" href="{{ site.baseurl }}/demosposters/">Call for Demos and Posters</a-->
          
      </li>   
   <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Attend
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ site.baseurl }}/venue/">Venue Information</a>
          <a class="dropdown-item" href="{{ site.baseurl }}/accomodation/">Accomodation</a>
		  <a class="dropdown-item" href="{{ site.baseurl }}/registration/">Registration</a>
            
          </li>
     </ul>
    
  </div>
  </div>
</nav>
