   <!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="{{ site.baseurl }}/"
      >IEEE CyberSciTech/PICom/DASC/CBDCom 2022 



</a
    >
    <button
      class="navbar-toggler ml-auto"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
   <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <!--li class="nav-item active">
        <a class="nav-link" href="{{ site.baseurl }}">Home </a>
      </li-->
      <li class="nav-item active">
        <a class="nav-link" href="{{ site.baseurl }}/cyberscitech/">CyberSciTech</a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="{{ site.baseurl }}/picom/">PICom</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ site.baseurl }}/dasc/">DASC</a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="{{ site.baseurl }}/cbdcom/">CBDCom</a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="{{ site.baseurl }}/special-issues/">Special Issues</a>
      </li>
        <!--li class="nav-item active">
        <a class="nav-link" href="{{ site.baseurl }}/attend/">Attend</a>
      </li-->
      <!--li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Info
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ site.baseurl }}/organization/">Organizing Committee</a>
           
          </li-->
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Program
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ site.baseurl }}/keynote/">Keynote Speakers</a>
          <a class="dropdown-item" href="{{ site.baseurl }}/panel/">Panel Talk</a>
             <a class="dropdown-item" href="{{ site.baseurl }}/program/">Agenda</a>
           </li>     
       <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Attend
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ site.baseurl }}/venue/">Venue Information</a>
          <a class="dropdown-item" href="{{ site.baseurl }}/accomodation/">Accomodation</a>
		  <a class="dropdown-item" href="{{ site.baseurl }}/registration/">Registration</a>
           <a class="dropdown-item" href="{{ site.baseurl }}/crs/">Camera Ready Submissions</a>  
            <!--<a class="dropdown-item" href="{{ site.baseurl }}/organization/">Organizing Committee</a>-->
          </li>
    </ul>
    
  </div>
  </div>
</nav>
