<div class="col-md-4 mb-5">
<h4>Recent Updates</h4>
   
<b>[Dec 1]</b> <a href="http://cyber-science.org/2022/">Website published</a>
<hr/>
  
<h4>Important dates <font color=red>NEW Dates</font></h4>
<hr />

<p>
  <b>Workshop/SS Proposal Due:</b> March 15, 2022
<br/><b>Workshop/SS Proposal Notification:</b> April 1, 2022
 </p> <p>
<b>Main Conference Papers </b>
<br/>
  Paper Submission Due: <font color=red>June 1, 2022</font>
<br/>Authors Notification: <font color=red>July 1, 2022</font>
<br/>Camera-ready Submission: <font color=red>July 15, 2022</font>
<br/><br/>

<b>Workshop /Special Session Papers </b>

<br/>Submission Due: <font color=red> June 1, 2022</font>
<br/>Author Notification Due: <font color=red>July 1, 2022</font>
<br/>Camera-ready Submission: <font color=red>July 15, 2022</font>
  </p><hr/>
  <h4><a href="/2022/special-issues/">Special Issues</a></h4>
 <hr />
    
<p>
  <h4> Sponsored By</h4>      
  <img src="/2022/assets/images/IEEE.png" class="img-fluid" alt="IEEE"/>&nbsp;&nbsp;&nbsp;
  <img src="/2022/assets/images/ieeecs.jpg" class="img-fluid" alt="IEEECS"/><br/><br/>
<h4> Supported By</h4>
<img src="/2022/assets/images/smclogo.jpg" class="img-fluid" alt="SMC"/>&nbsp;&nbsp;&nbsp;
  <img src="/2022/assets/images/swtclogo.jpg" class="img-fluid" alt="SWT"/><br/>
 <br/>

<img src="/2022/assets/images/tcsclogo.jpg" class="img-fluid" alt="TCST"/>&nbsp;&nbsp;&nbsp; 
<img src="/2022/assets/images/HI-TC_FormalLogo_50.png" class="img-fluid" alt="HI-TC"/><br/><br/> 
 <img src="/2022/assets/images/unical.jpg" class="img-fluid" alt="UNICAL"/>
 <img src="/2022/assets/images/cnr.jpg" class="img-fluid" alt="ICAR CNR"/>
  <br/>  
</p>

<hr/>
<p>
  <h4> Past Conferences</h4>
<a href="http://cyber-science.org/2021/picom/">PICom 2021<a> <br>
<a href="http://cyber-science.org/2020/picom/">PICom 2020<a> <br>
<a href="http://cyber-science.org/2019/picom/">PICom 2019<a> <br>
<a href="http://cyber-science.org/2018/picom/">PICom 2018<a> <br>

</p>
  
  </div>
