<div class="col-md-4 mb-5">

<h4>Recent Updates</h4>

<b>[Aug 5]</b> <font color=red>** NEW **</font> <a href="http://cyber-science.org/2022/program/"><u>Program Agenda available online!<br/>
<b>[Jul 8]</b><a href="http://cyber-science.org/2022/registration/"><u> Registration</u></a> now open!<br/>
<b>[Dec 1]</b> <a href="http://cyber-science.org/2022/">Website published</a>
<hr/>
  
<h4>Important dates</h4>
<hr />

<p>
  <b>Workshop/SS Proposal Due:</b> March 15, 2022
<br/><b>Workshop/SS Proposal Notification:</b> April 1, 2022
 </p> <p>
<b>Main Conference Papers </b>
<br/>Paper Submission Due: <font color=black><del>June 1, 2022</del></font><font color=red> June 15, 2022 (extended)</font>
<br/>Authors Notification: <font color=black><del>July 1, 2022</del></font><font color=red> July 5, 2022</font>
<br/>Camera-ready Submission: <font color=black>July 15, 2022</font>
<br/><br/>

<b>Workshop/Special Session Papers </b>
<br/>Submission Due: <font color=black><del>June 1, 2022</del></font><font color=red> June 15, 2022 (extended)</font>
<br/>Author Notification Due: <font color=black><del>July 1, 2022</del></font><font color=red> July 5, 2022</font>
<br/>Camera-ready Submission: <font color=black>July 15, 2022</font>
  </p><hr/>
  <h4><a href="/2022/special-issues/">Special Issues</a></h4>
 <hr />
    
<p>
  <h4> Sponsored By</h4>      
  <img src="/2022/assets/images/IEEE.png" class="img-fluid" alt="IEEE"/>
  <img src="/2022/assets/images/ieeecs.jpg" class="img-fluid" alt="IEEECS"/><br/>
  <img src="/2022/assets/images/dimes.png" class="img-fluid" alt="IEEECS"/><br/>
  <h5>&nbsp;</h5>
  <h4> Supported By</h4>
  <img src="/2022/assets/images/smclogo.jpg" class="img-fluid" alt="SMC"/>
  <img src="/2022/assets/images/smcitaly.jpg" class="img-fluid" alt="SMC ITALY" width="113"/><br/>
  <img src="/2022/assets/images/swtclogo.jpg" class="img-fluid" alt="SWT"/>
  <img src="/2022/assets/images/tcsclogo.jpg" class="img-fluid" alt="TCST"/><br/>
  <img src="/2022/assets/images/HI-TC_FormalLogo_50.png" class="img-fluid" alt="HI-TC"/><br/>
  <img src="/2022/assets/images/IEEE-Italy.png" class="img-fluid" alt="IEEE ITALY"/>
  
  <h6>Italy Section SYSC Chapter</h6>
  <h6>Italy Section VT/COM Joint Chapter</h6>
  <h6>Italy Section CS Chapter</h6>
  <h6>Italy Section SEN Chapter</h6>
  
  <img src="/2022/assets/images/unical.jpg" class="img-fluid" alt="UNICAL" width="113"/>
  <img src="/2022/assets/images/cnr.jpg" class="img-fluid" alt="ICAR CNR" width="113"/>
  <br/>    
</p>
  
</div>
