<div class="col-md-4 mb-5">
   <h4>Recent Updates</h4>
   <b>[Nov 2]</b> <a href="http://cyber-science.org/2021/bestpapers/">Best and Outstanding Papers 2021</a>
   <hr/>
   <b>[Oct 18]</b> <p>The Virtual Conference Venue is now available for early access. <a href="/2021/venue/" target=_new>Information here</a>.
 <hr/>
  
  <b>[Sep 3]</b> <a href="http://cyber-science.org/2021/attend/">Registration is now open</a>
  <hr/>
  
  <h4>  Important dates <font color=red>NEW Dates</font></h4>
  <hr />

<p>
  <b>Workshop/SS Proposal Due:</b> May 1, 2021
<br/><b>Workshop/SS Proposal Notification:</b> May 15, 2021
 </p> <p>
<b>Main Conference Papers </b>
<br/>
  Paper Submission Due: <font color=red>July 15, 2021</font>
<br/>Authors Notification: <font color=red>Aug. 15, 2021</font>
<br/>Camera-ready Submission: <font color=red>Sept. 15, 2021</font>
<br/><br/>

<b>Workshop /Special Session Papers </b>

<br/>Submission Due: <font color=red> Aug. 27, 2021</font>
<br/>Author Notification Due: <font color=red>Sept. 21, 2021</font>
<br/>Camera-ready Submission: <font color=red>Oct. 1, 2021</font>
  </p><hr/>
  <h4><a href="/2021/special-issues/">Special Issues</a></h4>
 <hr />
    
<p>
  <h4> Sponsored By</h4>
      <img src="/2021/assets/images/sensorlogo.png" class="img-fluid" alt="Sensor"/><br/>
  <img src="/2021/assets/images/IEEE.png" class="img-fluid" alt="IEEE"/>&nbsp;&nbsp;&nbsp;
  <img src="/2021/assets/images/ieeecs.jpg" class="img-fluid" alt="IEEECS"/><br/><br/>
<h4> Supported By</h4>
<img src="/2021/assets/images/smclogo.jpg" class="img-fluid" alt="SMC"/>&nbsp;&nbsp;&nbsp;
  <img src="/2021/assets/images/swtclogo.jpg" class="img-fluid" alt="SWT"/><br/>
 <br/>

<img src="/2021/assets/images/tcsclogo.jpg" class="img-fluid" alt="TCST"/>&nbsp;&nbsp;&nbsp; 
<img src="/2021/assets/images/HI-TC_FormalLogo_50.png" class="img-fluid" alt="HI-TC"/><br/><br/> 
 <img src="/2021/assets/images/au.png" class="img-fluid" alt="AU"/>
  <br/>  
</p>
  
  </div>
